body {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

header {
  background-color: #ebebeb;
  min-height: 50px;
  font-size: 50px;
  padding: 3px 0 3px 25px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin-left: 100px;
}

header span {
  color: #80a88e;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 5px 0 10px 0;
}

.page-container {
  height: 100vh;
  display: flex;
}

.section-left, .section-right {
  height: 100%;
  overflow: scroll;
  max-width: 50%;
  min-width: 50%;
  padding: 30px;
}

.section-left {
  background-color: #80a88e;
  display: flex;
}

.section-right {
  background-color: #7b8bbd;
  display: flex;
}

.game-search {
  max-width: 40%;
}

.music-search {
  max-width: 40%;
}

label {
  margin: 8px 0 8px 0;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

select, input {
  margin: 10px 0 10px 0;
  padding: 8px;
  border-radius: 17px;
}

button {
  padding: 10px 17px 10px 17px;
  color: white;
  border-radius: 12px;
  margin: 20px 0 20px 0;
}

.section-left button {
  background-color: #7b8bbd;
}

.section-right button {
  background-color: #80a88e;
}

.result-number {
  margin-left: 11px;
}

.game-results, .music-results {
  margin-left: 30px;
  max-width: 50%;
  color: #ebebeb;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.music-results {
  margin-left: 75px;
}

.result-container {
  margin-bottom: 10px;
}

.result-name {
  font-weight: bolder;
  font-size: 25px;
}

.result-name:hover {
  text-decoration: underline;
}

.result-thumbnail {
  margin: 10px 0 20px 0;
  border: solid #ebebeb 3px;
}

.jukebox {
  max-width: 150px;
  margin-left: 30px;
}

.loading-signal {
  padding: 15px 300px 10px 0;
}

.hidden {
  visibility: hidden;
}